body{
    background-color:#D3DF62;
}
.main-menu{
    background-color:#05A626;
    border-radius: 1%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;       
}
.footer-main{
    background-color: #05A626;
    display: block;
    position:fixed;
    bottom: 0;
    width: 100%;
    left: 0%;

}
.img-logo{
    width: 18%;
}