.list-character{
    list-style-type: none;
    align-items: center;
    margin-top: 6%;
    display: flex;
    flex-wrap: wrap;
 }
 .character-information{
    background-color:#2D9245;
    background-size: 50%;
    border-radius: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
    color:#FFFAFC;
    width: 14%;
    margin-left:3%;
    margin-right:3%;
    margin-top: 2%;
    border-radius: 1%;
 }
.character-img{
    width: 17%;
    border-radius: 60%;
    width: 30%;
}
.button-home{
    position: relative;
    top: 40%;
    left: 70%;   
}
.button-home-icon{
    width: 3%;
}
