.image-principal {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.text-principal{
    font-family: Questrial;
    font-style: margin-top: 50;normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #205B2F;
}
.button-img-character{
    width: 4.5%;
    position: relative;
    top: 40%;
    left: 76%;
}
