body {
    background-color: #BBC940;
}

.main-menu {
    background-color: #2D9245;
    border-radius: 1%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.img-logo {
    width: 23%;
}

.footer-main {
    background-color: #2D9245;
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0%;
    display: flex;
    justify-content: flex-end;
}

.footer-main a img {
    margin: .5em;
    width: 2em;
}